*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
}

html,body {
  margin: 0;
  width:100%;
  height:100vh;
  font-family: "Josefin Sans", sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  width:100%;
  min-height:100vh;
}

.content {
  flex: 1;
  padding: 1rem; /* Optional: spacing for your content */
}

.navbar{
  width:100%;
  display:flex;
  flex-direction: column;
}

.navbar-upper{
  padding-left: 10%;
  padding-right: 10%;
  height:44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #7E33E0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #F1F1F1;
}

.navbar-upper-login{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
  width: 50%;
}

.navbar-upper-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 5%;
  width: 50%;
  /* min-width: 240px; */
  flex-wrap:nowrap;
}

.navbar-upper-options-wishlist, .navbar-upper-options-cart, .navbar-upper-options-curr, .navbar-upper-options-darkmode{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-upper-options-wishlist > svg{
  padding-bottom: 4px;
}
.navbar-upper-options-cart > svg{
  padding-bottom: 2px;
}
.navbar-upper-options-curr > svg{
  padding-bottom: 2px;
}

.navbar-lower{
  margin-top:15px;
  margin-bottom:5px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.navbar-lower-left{
  width:75%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.navbar-lower-right{
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.navbar-lower-left-logo, .footer-upper-heckto-title{
  font-weight: bold;
  font-size: 30px;
}

.navbar-lower-left-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 7.5% ;
  margin-left: 10%;
}

/* Small devices */ 
@media (min-width: 10px) {
    .navbar-upper {
        font-size: 12px; /* Font size for tablets */
    }
}
/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 450px) {
    .navbar-upper {
        font-size: 14px; /* Font size for tablets */
    }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
    .navbar-upper {
        font-size: 16px; /* Font size for desktops */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-upper{
        font-size: 18px; /* Font size for large desktops */
    }
}


/* for searchBar and searchButton */

.navbar-lower-right{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.navbar-lower-right-searchbar{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#searchBar{
  width: 100%;
  height: 25px;
  border: 3px solid #E7E6EF;
  padding-left: 5px;
  font-size: 12px;
}


#searchButton{
  width: 40px;
  height: 25px;
  border: none;
  background-color: #FB2E86;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-lower-left-options-next{
  display: none;
}
@media screen and (max-width: 928px) {
  .navbar-lower-left-options{
    font-size: 12px;
    margin-left: 5%;
  }
}

/* .navbar-lower-left-dropdown{
  display: none;
} */

@media screen and (max-width:728px){
  .navbar-lower-left-options-blog, .navbar-lower-left-options-order, .navbar-lower-left-options-about{
    display: none;
  }

  .navbar-lower-left-options{
    gap: 11.5%;
  }
  
  .navbar-lower-left-options-next{
    display: block;
  }

}

.navbar-lower-right-hamburgerMenue{
  display: none;
}

@media screen and (max-width:545px){
  .navbar-lower-right-hamburgerMenue{
    display: block;
    padding-right:20px;
  }

  .navbar-lower-right-searchbar, .navbar-lower-left-options{
    display:none;
  }
}

/* Footer */
.footer{
  width:100%;
}
.footer-upper{
  width: 100%;
  background-color: #EEEFFB;
  height: 100px;
}
.footer-lower{
  background-color: #E7E4F8;
  color: #9DA0AE;
  height: 40px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}

.footer-upper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  align-items: center;

  padding: 5px;
}


/* Advertisment 1 */

.ad1, .ad2{
  height: 30%;
  width: 100%;  
  background-color: #F2F0FF;

  display: flex;
  align-items: center;
  justify-content: center;
  
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.ad1-right-image > img, .ad2-left-image > img {
  width: 220px;
  height: 220px;
  padding: 5px;
}


.ad1-right {
    position: relative;
    width: 20%;
}

.ad1-right-image {
    position: relative;
}

.ad1-right-image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Match the width of the parent */
    height: 100%; /* Match the height of the parent */
    z-index: 0; /* Send to back */
}

.ad1-right-image img {
    position: relative;
    z-index: 1; /* Bring image to front */
}

.ad1-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 40%;
}

.ad1-left-tagline{
  color: #FB2E86;
  font-size: small;
  margin-bottom: 10px;
}

.ad1-left-title1, .ad1-left-title2{
  font-size: 30px;
  font-weight: bold;
}

.ad1-left-title2{
  margin-bottom: 10px;
}

.ad1-left-description{
  font-size: 14px;
  color: #8A8FB9;
  margin-bottom: 11px;
}

.ad1-left-shopnow{
  background-color: #FB2E86;
  color: white;
  border: none; 
  width: 90px;
  height: 30px;
  font-size: 12px;
  border-radius: 2px;
  font-family: "Josefin Sans";
}


.ad2-left {
    position: relative; /* Parent positioning */
}

.ad2-left-image {
    position: relative; /* For relative positioning of children */
    width: 270px; /* Set width according to your image */
    height: 270px; /* Set height according to your image */
}

.ad1-right-image-background {
    position: absolute;
    top: 0; /* Align to top */
    left: 0; /* Align to left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 0; /* Send to back */
}

.ad2-left-image img {
    position: relative; /* Keep the image above the background */
    z-index: 1; /* Bring image to front */
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
}

.ad2-right{
  width: 35%;
  margin-left: 15px;
}

.ad2-right-title {
  color: #151875;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 17px;
}

.ad2-right-features-f1, .ad2-right-features-f2, .ad2-right-features-f3{
  display: flex;
  gap: 11px;
  color: #ACABC3;
  margin-bottom: 10px;
}

.ad2-right-features{
  margin-bottom: 25px;
}

.ad2-right-bottom{
  display: flex;
  gap: 11px;
}

.ad2-right-bottom-button{
  height: 35px;
  width: 95px;
  border: none;
  background-color: #FB2E86;
  color: white
}

.ad2-right-bottom-nameNprice{
  height: 35  px;
  display: flex;
  flex-direction: column;
  color: #151875;
}

.ad2-right-bottom-nameNprice-name{
  font-weight: bold;
}

.ad2{
  padding-top: 30px;
  padding-bottom: 30px;
}


/* HeaderBar */
.content{
  width: 100%;
  padding: 0;

}

.headerBar{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F6F5FF;
  gap: 5px;
  justify-content: center;
  height: 20vh;
  padding-left: 20%;
}

.headerBar-name{
  color: #101750;
  font-weight: bold;
  font-size: 1.7rem;
}

.headerBar-path{
  font-size: 13px;
}


 /* Login Page */
.login, .signup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container, .signup-container{
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.login-container-title, .signup-container-title{
  color: black;
  font-size: 30px;
  font-weight: bold;
  
}


.login-container-info, .signup-container-info{
  color: #9096B2;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 22px;
}


.login-container-email, .login-container-password,
.signup-container-email, .signup-container-password{
  border: 1px solid #C2C5E1;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  padding: 15px;
}

.login-container > input, .login-container > input::placeholder, .signup-container > input, .signup-container > input::placeholder {
  color: #9096B2;
  outline: none;
}

.login-container-email, .signup-container-email{
  margin-bottom: 19px;
}


.login-container-forgot, .login-container-createAccount, .login-container-createAccount-link, .signup-container-haveAccount, .signup-container-haveAccount-link{
  color: #9096B2;
  font-size: 15px;
  margin-top: 10px;
}

.signup-container-signup, .login-container-signin{
  height: 40px;
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  color: white;
  background-color: #FB2E86;
  border: none;
  margin-top: 8px;
  cursor: pointer;
  margin-bottom: 5px;
}

.signup-container-password{
  margin-bottom: 19px;
}


/* SHOP */

.Shop{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.shop{
  display: flex;
  flex-direction: column;
}

.shop-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top:50px;
}

.shop-intro-buttons{
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.shop-intro-title{
  font-size: 2rem;
  font-weight: bold;
}

.shop-intro-tagline{
  color: rgb(147 51 234);
  margin-top: 15px;
  font-size: 1.1rem;
}

.shop-intro-description{
  color: rgb(75 85 99);
  font-size: 1.1rem;
  margin-top: 20px;
}

.shop-intro-buttons{
  display: flex;
  margin-top: 20px;
  height: 40px;
}

.shop-intro-buttons-btn1, .shop-intro-buttons-btn2{
  width: 120px;
  font-size: 12px;
  border: none;
  border-radius: 8px;  
  cursor: pointer;
}



.shop-intro-buttons-btn1{
  background-color: rgb(147 51 234);
  color: white;
  font-weight: bold; 
}


.shop-intro-buttons-btn2{
  border: 1px solid rgb(147 51 234);
  color: rgb(147 51 234);
  background-color: white;
  font-weight: bold; 
}


.shop-category, .shop-bundles{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding-left: 2%;
  padding-right: 2%;

  padding-top: 40px;
  padding-bottom: 15px;
  background-color: rgb(249 250 251);
}

.shop-bundles{
  background-color: white;
}


.shop-category-head{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  margin-bottom: 35px;
}

.shop-category-head-left{
  display: flex;
  flex-direction: column;
}

.shop-category-head-left-title{
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 6px;
}


.shop-category-head-left-desc{
  color: rgb(75 85 99);
  font-size: 1.1rem;
}

.shop-category-head-right{
  color: rgb(147 51 234);
  font-size: 1.1rem;
}

.shop-category-categories-card-image, .shop-bundles-bundle-card-image, .image-container {
  width: 100%;
  min-width: 98px;
  height: 70%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}



.shop-category-categories-card, .shop-bundles-bundle-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;

}

.shop-bundles-bundle-card{
  width: 33%;
  height: 40vh;
  justify-content: start;
  height: 100%;
}

.shop-category-categories-card:hover, .shop-bundles-bundle-card:hover{
  box-shadow: 0px 0px 10px 1px hsl(214.3 31.8% 91.4%);
}

.shop-category-categories, .shop-bundles-bundle{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  
}


.shop-category-categories-card-desc,.shop-bundles-bundle-card-desc{
  width: 100%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 7px;
  border: 1.5px solid hsl(214.3 31.8% 91.4%);
  border-radius: 0px 0px 10px 10px;
}


.image-container {
  position: relative; /* Make this the positioning context */
  /* Or block, depending on your layout */
  width: 100%; /* Set a width for the image container */
  height: 30vh; /* Set a height for the image container */
}

.image-container img {
  width: 100%; /* Make image responsive */
  height: 100%; /* Maintain aspect ratio */
  border-radius: 10px 10px 0px 0px;
}


.discount-badge {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  background-color: rgb(236 72 153); /* Or your desired color */
  color: white;
  padding: 5px 10px;
  font-size: 14px; /* Adjust as needed */
  border-radius: 5px; /* Optional: Rounded corners */
  z-index: 1; /* Ensure the badge is on top of the image */

}



.shop-bundles-bundle-card-desc-title{
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  margin-bottom: 2px;
}
.shop-bundles-bundle-card-desc-shortDesc{
  color: rgb(75 85 99)
}


.shop-bundles-bundle-card-desc{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
}

.bundle-includes{
  padding: 0;
  margin-bottom: 9px;
  margin-top: 3px;
}

.bundle-item{
  color: rgb(75 85 99);
  margin-bottom: 4px;
  display: flex;
  align-items: center;

}
.arrow{
  font-size: 15px;
  color: rgb(147 51 234);
  margin-right: 10px;
}

.shop-bundles-bundle-card-desc-price, .shop-bundles-bundle-card-desc-end{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shop-bundles-bundle-card-desc-price{
  gap: 5px;
  font-size: 1.6rem;
}

.shop-bundles-bundle-card-desc-end{
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
}

.shop-bundles-bundle-card-desc-price-previous{
  text-decoration: line-through;
  color: rgb(75 85 99);
  font-size: 1.2rem;
}
.shop-bundles-bundle-card-desc-button{
  width: 25%;
}
.shop-bundles-bundle-card-desc-button-btn{
  width: 100%;
  height: 35px;
  background-color: rgb(147 51 234);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
}

.shop-bundles{
  margin-top: 20px;
}

.shop-bundles-bundle-card-desc-price-now{
  color: rgb(147 51 234);;
}